/*
rgb(197, 235, 251)
rgb(17, 33, 33)
rgb(249, 199, 199)
*/

html, body {
  background: white;
  /*background: rgb(249, 199, 199);*/
  /*background: rgb(249, 199, 199);*/
  color: rgb(17, 33, 33);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.header {
  background: rgb(17, 33, 33);
  padding: 80px 0 50px 0;
  position: relative;
  text-align: center;
}

.header-img {
  width: 200px;
}

.header-h1 {
  color: rgb(249, 199, 199);
  font-size: 30px;
  font-weight: bold;
}

/*.header:before {
  background-image: url(../images/bg.jpg);
  background-position: 0 50%;
  background-size: cover;
  content: ' ';
  height: 100%;
  left: 0;
  filter: grayscale(100%) opacity(10%);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}*/

.block {
  max-width: 640px;
  margin: 0 auto;
}

.splash {
  color: rgb(17, 33, 33);
  /*color: #ccc;*/
  /*color: rgb(249, 199, 199);*/
  /*font-size: 18px;*/
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 50px;
  margin-top: 70px;
  text-align: center;

  letter-spacing: 1px;
  /*text-transform: uppercase;*/
  font-size: 16px;
}

.u-blue {
  /*font-size: 20px;*/
  /*color: rgb(197, 235, 251);*/
  /*color: rgb(249, 199, 199);*/
  /*font-size: 1.25rem;
  line-height: 1.75rem;*/
  /*border-bottom: 2px solid rgb(197, 235, 251);*/
}

.u-pink {
  /*color: rgb(249, 199, 199);*/
  /*color: rgb(197, 235, 251);*/
  /*font-size: 20px;*/
  /*line-height: 1.75rem;*/
  /*display: inline-block;*/
  /*font-size: 1.5rem;*/
}
