/*
 * - [ ] Add all the proper links
 *   - [x] Playlist
 *   - [x] Facebook https://www.facebook.com/GothenburgSessions
 *   - [ ] E-mail
 *   - [x] Youtube https://www.youtube.com/user/HedeForsProductions
 *   - [x] Spotify https://open.spotify.com/user/gothenburgsessions
 *   - [x] Instagram https://www.instagram.com/gothenburgsessions/
 *   - [x] Twitter https://twitter.com/gbgsessions
 * - [x] Make it responsive
 */

https://youtu.be/vVdLRHygIQc?list=PLItBRZfSWzn0NqVNTdNnhVXGsE1NTbuXh

html, body {
  background: white;
  color: rgb(17, 33, 33);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  color: rgb(17, 33, 33);
}

@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

.Section {
  padding: 60px 0;
}

@media (max-width: 768px) {
  .Section {
    padding: 20px 20px;
  }
}

.Section--dark {
  background: rgb(17, 33, 33);
}

.Section--blue {
  background: rgb(197, 235, 251);
}

.Section--pink {
  background: rgb(249, 199, 199);
}

.Section-content {
  letter-spacing: 1px;
  line-height: 1.75rem;
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
}

.Logo {
  display: block;
  margin: auto;
  width: 350px;
}

@media (max-width: 768px) {
  .Logo {
    width: 80%;
    max-width: 640px;
  }
}

.EmbedContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.EmbedContainer-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.SocialIcon {
  display: inline-block;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .SocialIcon {
    font-size: 0.85rem;
  }
}

.SocialIcon .fa-circle {
  color: white;
}

.SocialIcon .fa-inverse {
  color: rgb(17, 33, 33);
}

.u-big {
  font-size: 22px;
}
