/*
rgb(197, 235, 251)
rgb(17, 33, 33)
rgb(249, 199, 199)
*/

html, body {
  background: white;
  color: rgb(17, 33, 33);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.header {
  background: rgb(17, 33, 33);
  padding: 60px 0;
  text-align: center;
}

.header-img {
  width: 400px;
}

.block {
  max-width: 640px;
  margin: 0 auto;
}

.block-text {
  letter-spacing: 1px;
  line-height: 1.75rem;
  margin: 60px 20px;
  text-align: center;
}

.u-big {
  font-size: 22px;
}
